@use "global" as *;

.campaign-card {
    height: 100%;
    display: block;
    flex-shrink: 0;
    background: var(--White, #FFF);
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
    // transition: all  .7s ease;
}


.campaign-card__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: inherit;

}

.campaign-card__style:hover {
    // opacity: 0.5;
}

.campaign-card__img {
    width: 100%;
    overflow: hidden;
}

.campaign-card__img img {
    width: 100%;
    aspect-ratio: 280/188;
    object-fit: cover;
    transition: .6s;
}

.campaign-card__img.campaign-card__img--page-blog img {
    aspect-ratio: 294/188;
}

.campaign-card:hover .campaign-card__img img {
    transform: scale(1.2);
}

.campaign-card__body {
    padding: rem(15) rem(16) rem(24) rem(15);

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq("md") {
        padding: rem(24) rem(16) rem(40) rem(16);
    }
}

.campaign-card__body.campaign-card__body--page-blog {

    padding: rem(13) rem(23) rem(21) rem(23);
}


.campaign-card__tag {
    display: inline-flex;
    padding: rem(4) rem(12);
    align-items: flex-start;
    gap: rem(8);
    border: 1px solid $green2;
    color: $green2;
    font-size: rem(12);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.83333; /* 183.333% */

    @include mq(md){
        padding: rem(4) rem(16);
    }
}

.campaign-card__title {
    color: $green1;
    font-size: rem(16);
    font-style: normal;
    font-weight: $medium;
    line-height: 1.5; /* 150% */

    margin-top: rem(4);

    @include mq("md") {
        margin-top: rem(5);
    }
}

.campaign-card__title.campaign-card__title--blog {
    text-align: center;
}



hr.campaign-card__line {
    border-color: $green2;
    margin: rem(6) 0;

    @include mq("md") {
        margin: rem(8) 0;
    }
}

.campaign-card__text-block {
    vertical-align:bottom
}

.campaign-card__text {
    color: $green1;
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.71429; /* 171.429% */

    text-align: center;
    margin-top: rem(7);

    @include mq(md){
       font-size: rem(16);
       margin-top: rem(13);
       margin-left: rem(-19);
    }
}

.campaign-card__text.campaign-card__text--page-blog {
    font-size: rem(14);
    margin-left: rem(0);
    margin-top: rem(7);
}

.campaign-card__price {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq("md") {
        margin-top: rem(4);
    }
}

.campaign-card__price.campaign-card__price--page-blog {
    margin-top: rem(0);
}

.campaign-card__price-before {
    text-decoration: line-through;
    text-decoration-color: $red;
    text-decoration-thickness: rem(3);
    text-align: center;

    color: $green1;
    font-family:$mv-english-family;
    font-size: rem(20);
    font-style: normal;
    font-weight: $bold;
    line-height: 1; /* 100% */

    margin-top: rem(18);

    @include mq(md){
        font-size: min(1.7vw, rem(24));
        line-height: 1; /* 100% */
        margin-top: rem(15);
    }
}
.campaign-card__price-before.campaign-card__price-before--page-campaign {
    margin-top: rem(12);
}

.campaign-card__price-before.campaign-card__price-before--page-blog {
    font-size: rem(20);
    @include mq("md") {
        font-size: min(1.7vw, rem(20));
    }
}




.campaign-card__price-discount {
    color: $green2;
    font-family: $mv-english-family;
    font-size: rem(32);
    font-style: normal;
    font-weight: $bold;
    line-height: 1; /* 100% */

    margin-top: rem(8);
    margin-left: rem(16);

    @include mq(md){
        font-size: min(2.8vw, rem(40));
        line-height: 1; /* 100% */
        margin-left: rem(27);
        margin-top: rem(2);
    }
}
.campaign-card__price-discount.campaign-card__price-discount--page-campaign {
    margin-left: rem(17);

    @include mq("md") {
        margin-left: rem(41);
    }
} 

.campaign-card__price-discount.campaign-card__price-discoun--page-blog {
    font-size: rem(32);
    margin-left: rem(18);
    margin-top: rem(3);
    
    @include mq("md") {
        font-size: min(2.8vw, rem(32));
    }
}

/*====================================================
# 下層ページ：キャンペーンページ用
=====================================================*/

.campaign-card__tag.campaign-card__tag--page-campaign {

    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.campaign-card__title.campaign-card__title--page-campaign {
    
    @include mq("md") {
        font-size: rem(24);
        line-height: normal;//ブラウザのデフォルトの行間隔を使用
    }
}


hr.campaign-card__line.campaign-card__line--page-campaign {
    @include mq("md") {
        margin:  0;
    }
}

.campaign-card__text.campaign-card__text--page-campaign {
    
    @include mq("md") {
        margin-top: rem(23);
    }
}


.campaign-card__body.campaign-card__body--page-campaign {
    padding: rem(14) rem(16) rem(24) rem(15);

    @include mq("md") {
        padding: rem(21) rem(24) rem(46) rem(24);
    }
}

.campaign-card__description {

    @include mq("md") {
        margin-top: rem(24);
        color: $green1;
        font-size: rem(16);
        font-style: normal;
        font-weight: $regular;
        line-height: 1.5; /* 150% */
    }
}

.campaign-card__schedule{

    @include mq("md") {
        margin-top: rem(33);
        color: $green2;
        text-align: center;
        font-family: $english-family;
        font-size: rem(16);
        font-style: normal;
        font-weight: $bold;
        line-height: 1.125; /* 112.5% */
        margin-right: rem(12);
    }

}

.campaign-card__reserve {
    @include mq("md") {
        margin-top: rem(5);
        color: $green2;
        text-align: center;
        font-size: rem(14);
        font-style: normal;
        font-weight: $regular;
        line-height: 1.28571; /* 128.571% */
    }

}

.campaign-card__button {

    @include mq("md") {
        margin-top: rem(16);
        text-align: center;
        margin-right: rem(6);
    }

}


