@use "global" as *;

.form-checkbox label {
    display: block;
    // @include mq(md){
    //     display: inline-block;
    // }
}

.form-checkbox label:not(:first-of-type) {
    margin-top: rem(10);
    @include mq(md){
        margin-top: 0;
        // margin-left: rem(20);
    }
}

.form-checkbox input {
    display: none;
}

.form-checkbox input + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 rem(25);
    position: relative;

    color: $green1;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
    text-align-last: left;
}

.form-checkbox input + span::before {
    content: "";
    position: absolute;
    top: 55%;
    left: rem(-2);
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid $green2;
    display: block;
    width: rem(15);
    height: rem(15);

    @include mq("md") {
        top: 50%;
    }
}

.form-checkbox.form-checkbox--consent input + span::before {
    top: 29%;
  
    @include mq("md") {
      top: 49%;
    }
  }

.form-checkbox input + span::after {
    content: "";
    margin-top: rem(-2);
    position: absolute;
    top: 58%;
    left: 1.2%;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: rem(10);
    height: rem(5);
    border-bottom: rem(2) solid $red;
    border-left: rem(2) solid $red;
    transition:  .3s;
    opacity: 0;
    @include mq("md") {
        top: 53%;
        left: 1.4%;
    }
}

.form-checkbox.form-checkbox-bg input + span::after {
    left: rem(3);
    transform: translateY(-50%) rotate(-35deg);
    display: block;
    width: rem(16);
    height: rem(8);
    top: 28%;
  
    @include mq("md") {
        left: rem(1);
      top: 45%;
    }
  }

.form-checkbox input:checked + span::after {
    opacity: 1;
}